/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*RESET && CLEARFIX*/
html, body, header, nav, h1, h2, h3, h4, h5, h6, a, ul, li, main,
section, img, div, p, form, fieldset, label, textarea, button, footer, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-family: 'Asap', sans-serif;
  background: #ccc;
}

ul {
  list-style-type: none;
}

input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

em {
  font-style: italic;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

strong {
  font-weight: 700;
}

/*HEADER*/

header {
  height: 70px;
  background: #333;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

header .logo {
  z-index: 1;
  font-size: 36px;
  float: left;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}

nav {
  z-index: 1;
}

nav .nav-left {
  display: block;
  float: left;
  letter-spacing: 1px;
}

nav .nav-right {
  display: block;
  float: right;
  font-weight: 400;
}

nav .nav-left li {
  float: left;
  margin: 17px 10px 15px 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
}

nav .nav-left li:hover {
  background: #666;
}

nav .nav-left li.current {
  background: #666;
}

nav .nav-right li {
  float: left;
  padding: 22px 20px 20px 20px;
}

nav .nav-right li.current-user-img {
  padding: 9px 0px;
}

nav .nav-right li.current-user-img img {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

nav .current-user {
  position: relative;
}

nav li.streak-count {
  font-size: 24px;
  padding-top: 19px;
  cursor: help;
}

nav .current-user .dropdown {
  display: none;
  position: absolute;
  color: #000;
  left: 10px;
  top: 50px;
  box-shadow: 0px 5px 5px 0px #555;
  border-radius: 5px;
}

nav .current-user .dropdown li {
  padding: 5px 10px;
}

nav .current-user .dropdown li:hover {
  padding: 5px 10px;
  color: #fff;
}

nav .current-user:hover .dropdown {
  background: #666;
  display: block;
}

nav .login {
  cursor: pointer;
  margin: 17px 10px 15px 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  background: #666;
  color: #fff;
  letter-spacing: 1px;
}

header form {
  display: none;
  padding: 22px 0px;
}

header form label {
  display: block;
  float: left;
  margin: 0px 10px;
}

header form input {
  display: block;
  float: left;
  padding: 0px 5px;
  background: #666;
  border-bottom: 2px solid #666;
  font-weight: 400;
}

header form button {
  display: block;
  float: left;
  margin: 0px 0px 0px 10px;
  padding: 0px 10px;
  cursor: pointer;
  border-radius: 5px;
  background: #666;
  font-weight: 400;
}

div.welcome-popdown {
  z-index: 10;
  position: fixed;
  top: 4px;
  right: 20px;
  background: #33cc99;
  padding: 20px 23px;
  border-radius: 20px;
}
