/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui.min
 */

/*RESET && CLEARFIX*/
html, body, header, nav, h1, h2, h3, h4, h5, h6, a, ul, li, main,
section, img, div, p, form, fieldset, label, textarea, button, footer, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-family: 'Asap', sans-serif;
  background: #ccc;
  min-height: 300px;
}

ul {
  list-style-type: none;
}

input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

em {
  font-style: italic;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

strong {
  font-weight: 700;
}

/*CUSTOM SCROLLBAR*/
.special-scrollbar ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(0,0,0,0);
}

/* Track */
.special-scrollbar ::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
.special-scrollbar ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #333;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.special-scrollbar ::-webkit-scrollbar-thumb:window-inactive {
	background: #aaa;
}

/*DEFAULTS*/

small {
  font-size: 11px;
}

textarea {
  resize: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

button.button {
  border-radius: 10px;
  background-color: #333;
  color: #FFF;
  font-size: 16px;
  padding: 15px 50px;
  transition: none;
}

button.button:hover {
  cursor: pointer;
  transition: background-color 500ms ease, box-shadow 0.5s;
  box-shadow: 0px 0px 4px #000;
}

button.button.button-green {
  background-color: #669966;
}

button.button.button-green:hover {
  background-color: #336600;
}

button.button.button-orange {
  background-color: #996600;
}

button.button.button-orange:hover {
  background-color: #CC6633;
}

button.button.button-gray {
  background-color: #444;
}

button.button.button-gray:hover {
  background-color: #666;
}

/*HEADER*/

header {
  height: 70px;
  background: #333;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

header .dropdown {
  z-index: 5;
}

#nav-toggle {
  display: none;
}

@media screen and (max-width: 990px) {
  .private-toggle {
    display: block !important;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }

  .private-toggle span {
    display: inline
  }

  header #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }

  nav.private .nav-left.group {
    display: none;
  }

  nav.private ul.nav-right.group {
    display: list-item;
    float: left;
    margin-left: 50px;
  }

  nav.private .current-user {
    display: none;
  }
}

@media screen and (max-width: 726px) {
  body {
    background-color: #eee;
  }
}

@media screen and (max-width: 680px) {

  nav ul.nav-right.group {
    float: left;
    margin-left: 50px;
  }
}

@media screen and (max-width: 630px) {
  nav ul.nav-right.group {
    display: none;
  }
  /* Awesome hamburger icon by Elijah Manor http://codepen.io/elijahmanor/pen/Igpoe */
  #nav-toggle {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
}

@media screen and (max-width: 460px) {
  nav.private ul.nav-right.group {
    display: none;
  }

  .welcome-popdown-wrapper {
    display: none;
  }
}

header .logo {
  z-index: 1;
  font-size: 36px;
  float: left;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}

nav {
  z-index: 1;
}

nav .nav-left {
  float: left;
}

nav .nav-left button {
  display: block;
  float: left;
  margin-top: -10px;
  font-weight: normal;
}

nav .nav-right {
  display: block;
  float: right;
  font-weight: 400;
}

nav .nav-left li {
  float: left;
  margin: 17px 0px 15px 0px;
  padding: 5px 10px 5px 10px;
}

nav .nav-right li {
  float: left;
  padding: 22px 20px 20px 20px;
}

nav .nav-right li.current-user-img {
  padding: 9px 0px;
}

nav .nav-right li.current-user-img img {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

nav .current-user {
  position: relative;
}

nav li.streak-count {
  font-size: 24px;
  padding-top: 19px;
  cursor: help;
}

.flame-icon {
  display: inline-block;
  width: 20px;
  margin: 3px 8px 0 0;
}

.flame-icon > i {
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 10px solid #111;
    border-top: 10px solid transparent;
}


nav .current-user .dropdown {
  display: none;
  position: absolute;
  color: #000;
  left: 10px;
  top: 50px;
  box-shadow: 0px 5px 5px 0px #555;
  border-radius: 5px;
  width: 120px;
}

nav .current-user .dropdown li,
nav .streak-count .dropdown li  {
  padding: 5px 10px;
}

nav .current-user .dropdown li:hover {
  padding: 5px 10px;
  color: #fff;
}

nav .current-user:hover .dropdown,
nav .streak-count:hover .dropdown {
  background: #666;
  display: block;
}

nav .streak-count:hover .arrow-up {
  display: block;
}

.arrow-up {
  display: none;
  position: fixed;
  background: transparent;
  top: 50px;
  right: 30px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #666;
}

nav .streak-count .dropdown {
  display: none;
  position: fixed;
  top: 60px;
  right: 15px;
  box-shadow: 0px 5px 5px 0px #555;
  border-radius: 5px;
  width: 120px;
  color: #000;
}

nav .streak-count .dropdown .streak-msg {
  font-size: 16px;
}

nav .login {
  margin-top: -10px;
}

nav .about {
  margin-top: -10px;
}

.welcome-popdown {
  z-index: 10;
  position: fixed;
  top: 4px;
  right: 20px;
  height: 30px;
}

.welcome-popdown:hover {
  cursor: default;
}
