.profile-form-wrapper {
  width: 660px;
  margin: 0 auto;
}

.image-upload-pane {
  float: left;
  width: 300px;
  display: inline-block;
}

.user-details-pane {
  float: right;
  width: 350px;
  display: inline-block;
}

#main-content form.edit-profile {
  min-height: 450px;
}

@media screen and (max-width: 950px) {
  .profile-form-wrapper {
    width: auto;
    padding-bottom: 40px;
  }

  .user-details-pane, .image-upload-pane {
    margin: 0 auto;
    float: none;
    clear: both;
  }

  #main-content form.edit-profile {
    min-height: auto;
  }
}

.user-image {
  float; left;
  border-radius: 5px;
  border: 3px solid #aaa;
  display: block;
  width: 150px;
  margin: 20px auto 30px auto;
}

form h2 {
  text-align: center;
  display: block;
  margin: 20px auto;
}

#main-content form .image-upload-pane label.image-upload-label {
  text-align: center;
  width: 100%;
}

form input#user-image-input {
  font-size: 12px;
  background: transparent;
  width: 170px;
  position: relative;
  padding-left: 22px;
}

#user-image-input {
  font-family: sans-serif;
}

#main-content form.edit-profile label {
  width: 300px;
  text-align: left;
  font-size: 16px;
}

#main-content form.edit-profile textarea {
  width: 300px;
  background: #fff;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 20px;
  text-align: left;
}
