.login-window {
  width: 250px;
  height: 350px;
  border: 5px solid #999;
  background-color: #333;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.login-window .login-message {
  font-size: 24px;
}

.login-window > form {
  display: block;
  height: 200px;
  margin-top: 20px;
}

.login-window label {
  display: block;
  font-size: 18px;
}

.login-window input {
  display: block;
  height: 24px;
  width: 200px;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #ccc;
  font-size: 12px;
  font-weight: 400;
}

.login-window input textarea {
  color: #FFF;
}

.login-window .login-error-box {
  width: 220px;
  height: 20px;
  margin: 0px auto 15px auto;
  text-align: center;
}

.login-window .login-error {
  display: block;
  font-size: 14px;
  color: #FFCC00;
}
