/*REGIONS PAGE*/
#main-content > div {
  width: 100%;
}

#main-content h1 {
  text-align: center;
  font-size: 36px;
}

#main-content p {
  text-align: center;
  font-size: 16px;
}

#main-content ul.region-menu {
  text-align: center;
  margin: 20px auto 0px auto;
  width: 450px;
  min-height: 300px;
}

#main-content .region-menu-buttons li.region-item {
  float: left;
  position: relative;
  width: 130px;
  height: 200px;
  padding: 0px 10px;
  text-align: center;
  cursor: pointer;

}

#main-content .region-menu-buttons li.region-item div.region-level {
  position: absolute;
  top: 10px;
  right: 30px;
  border-radius: 50px;
  padding: 0px 5px;
  background: #ccc;
  color: #000;
  font-weight: 700;
}

#main-content .region-menu-buttons .region-img {
  display: block;
  margin: 0 auto 5px auto;
  width: 110px;
  height: 110px;
  border: 5px solid #666;
  border-radius: 20px;
  transition: box-shadow 0.2s linear;
}

#main-content .region-menu-buttons .region-img:hover {
  box-shadow: -2px 2px 5px 0px #555;
}

#main-content .region-menu-buttons li.solo-centered {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.modal-window .sparrow-icon {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 100px;
}

.view-toggle {
  margin-left: 5px;
  border: 1px dotted #ccc;
  border-radius: 10px;
  padding: 2px 4px;
  color: #ccc;
}

.view-toggle:hover {
  border: 1px dotted #000;
  cursor: pointer;
  color: #000;
}

.region-menu-list {
  display: none;
}

.region-menu-list img {
  display: none;
}

.region-menu-list li {
  background-color: #ccc;
  border-radius: 10px;
  margin-bottom: 2px;
  padding: 3px 0px 3px 30px;
}

.region-menu-list li.new {
  padding: 3px 0px;
}

.region-menu-list li:hover {
  cursor: pointer;
  background-color: #aaa;
}

.region-menu-list .region-level {
  display: none;
}

.region-menu-list .region-level-list {
  padding-left: 5px;
  color: #666;
}

.region-menu-list p {
  padding: 3px 0px;
}

.region-menu-buttons .delete-region {
  display: none;
}

.region-menu-list .delete-region {
  visibility: hidden;
  padding-top: 2px;
  padding-right: 10px;
  opacity: 0.3;
  display: block;
  float: right;
  width: 20px;
}

.region-menu-list li:hover .delete-region {
  visibility: visible;
}

.delete-region:hover {
  opacity: 1.0;
}
