/* WELCOME SCREEN WITH LARGER SCREEN WIDTH */

.welcome-background {
  background-image: url('sparrow-short.jpg');
  background-size: cover;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-image 0.5s linear;
}

.welcome-page {
  display: block;
  position: relative;
  float: right;
  margin-top: 20px;
  margin-left: 40px;
  border-radius:20px;
  text-align: right;
  width: 100%;
  padding: 5px 20px 15px 0px;
  height: 160px;
}

.welcome-message {
  float: right;
  width: 500px;
  margin: 20px 10% 0px 0px;
}

.welcome-headline {
  float: left;
}

.welcome-message .sparrow-icon {
  display: none;
}

.welcome-tagline {
  width: 500px;
}

.song-sampler {
  opacity: 0.0;
  float: right;
  clear: both;
  margin-right: 10%;
  width: 400px;
  margin-bottom: 20px;
  text-align: left;
  transition: opacity 1.0s linear;
}

.song-sampler audio {
  margin-top: 10px;
  padding-right: 10px;
  width: 380px;
  float: right;
}

.welcome-buttons {
  clear: both;
}

.music-note {
  float: left;
  padding-left: 10px;
  width: 30px;
  height: 30px;
}

.sampler-bird-name {
  display: inline-block;
  font-size: 12px;
  width: 350px;
  margin: 10px 0px 0px 10px;
}

.sampler-audio-info {
  float: right;
  padding-right: 10px;
  margin-top: 0px;
  font-size: 8px;
}

.sampler-audio-info a {
  text-decoration: underline;
}

.sign-up, .demo {
  display: block;
  text-align: center;
  float: right;
}

.sign-up {
  float: right;
  margin-right: 20px;
}

.demo {
  float: right;
  margin-right: 10%;
}

.welcome-page span {
  display: block;
  clear: both;
  margin-right: 10%;
  padding: 10px 0px;
}

.facebook-sign-in {
  display: block;
  width: 100%;
  float: right;
  margin-top: 10px;

}

.facebook-icon {
  margin-bottom: -5px;
  width: 50px;
  border-radius: 10px;
  transition: box-shadow 1s ease-out
}

.facebook-icon:hover {
  box-shadow: 0px 0px 10px #000;
}

.facebook-text {
  vertical-align: 90%;
}



/* SMALLER SCREEN WIDTH */

@media screen and (max-width: 1100px) {

  .welcome-background audio {
    height: 50px;
    width: 240px;
    float: none;
    padding: 0px 0px 0px 0px;
    margin: 0 auto 0 auto;
  }

  .welcome-background .song-sampler {
    float: none;
    margin: 0px auto 20px auto;
    width: 250px;
    text-align: center;
  }

  .welcome-background .music-note {
    display: none;
  }

  .welcome-background .song-sampler .sampler-bird-name {
    text-align: center;
    width: 220px;
    font-weight: bold;
  }

  .welcome-background .song-sampler .sampler-audio-info {
    text-align: center;
  }

  .welcome-background {
    background-image: url('sparrow-short.jpg');
    background-size: 300%;
    background-position: right center;
  }

  .welcome-message {
    float: none;
    width: 300px;
    margin: 20px auto 0px auto;
  }

  .welcome-headline {
    float: none;
    margin: 0 auto;
  }

  .welcome-message .sparrow-icon {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
  }

  .welcome-tagline {
    float: none;
    text-align: center;
    width: 280px;
    margin: 0 auto;
    font-size: 12px;
  }

  .sign-up, .demo {
    width: 200px;
    float: none;
    margin: 0px auto 5px auto;
  }

  .facebook-sign-in {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .facebook-icon {
    width: 50px;
    border-radius: 10px;
    transition: box-shadow 0.2s linear;
  }

  .welcome-page.group {
    margin: 10px auto 0px auto;
    float: none;
    padding: 10px 0px;
    text-align: center;
    width: 300px;
    height: 210px;
  }

  .welcome-page > span {
    font-size: 12px;
    display: block;
    clear: none;
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
  }

  .facebook-sign-in {
    display: block;
    float: none;
    margin: 0px auto;
  }

  .facebook-icon {
    margin: 5px 0px 0px 0px;
  }
}
