/* WELCOME SCREEN WITH LARGER SCREEN WIDTH */

.welcome-background {
  background-image: url('sparrow.jpg');
  background-size: cover;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-image 0.5s linear;
}

.welcome-page {
  display: block;
  position: relative;
  float: right;
  margin-top: 20px;
  margin-left: 40px;
  border-radius:20px;
  text-align: right;
  width: 100%;
  padding: 5px 20px 15px 0px;
  height: 160px;
}

.welcome-message {
  float: right;
  width: 500px;
  margin: 20px 10% 0px 0px;
}

.welcome-headline {
  float: left;
}

.welcome-message .sparrow-icon {
  display: none;
}

.welcome-tagline {
  width: 500px;
}

.sign-up, .demo {
  display: block;
  width: 150px;
  text-align: center;
  font-size: 20px;
  transition: box-shadow 0.1s linear;
  float: right;
}

.sign-up {
  float: right;
  margin-right: 20px;
}

.demo {
  float: right;
  margin-right: 10%;
}

.sign-up:hover, .demo:hover {
  box-shadow: -2px 2px 5px 0px #555;
}

.welcome-page span {
  display: block;
  clear: both;
  margin-right: 10%;
  padding: 10px 0px;
}

.facebook-sign-in {
  display: block;
  width: 100%;
  float: right;
  margin-right: 10%;
}

.facebook-icon {
  width: 50px;
  border-radius: 10px;
  transition: box-shadow 0.1s linear;
}

.facebook-icon:hover {
  box-shadow: -2px 2px 5px 0px #555;
}



/* SIGN UP BUTTON AT MEDIUM SCREEN WIDTH */
@media screen and (max-width: 900px) {
  .sign-up {
    clear: both;
    margin-top: 10px;
    margin-right: 10%;
  }
}



/* SMALLER SCREEN WIDTH */

@media screen and (max-width: 700px) {
  .welcome-background {
    background: #aaa;
    background-image: none;
  }

  .welcome-page {
    background: rgb(153, 153, 153);
  }

  .welcome-message {
    float: none;
    width: 300px;
    margin: 20px auto 0px auto;
  }

  .welcome-headline {
    float: none;
    margin: 0 auto;
  }

  .welcome-message .sparrow-icon {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 100px;
  }

  .welcome-tagline {
    float: none;
    text-align: center;
    width: 280px;
    margin: 0 auto;
    font-size: 12px;
  }

  .sign-up, .demo {
    width: 200px;
    float: none;
    margin: 0px auto 5px auto;
  }

  .facebook-sign-in {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .facebook-icon {
    width: 50px;
    border-radius: 10px;
    transition: box-shadow 0.2s linear;
  }

  .welcome-page.group {
    margin: 10px auto 0px auto;
    float: none;
    padding: 10px 0px;
    text-align: center;
    width: 300px;
    height: 210px;
  }

  .welcome-page > span {
    font-size: 12px;
    display: block;
    clear: none;
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
  }

  .facebook-sign-in {
    display: block;
    float: none;
    margin: 0px auto;
  }

  .facebook-icon {
    margin: 5px 0px 0px 0px;
  }
}
