<section class="about-background">
  <section class="welcome-message">
    <h1 class="welcome-headline">About Chickadee</h1>

    <p><br>Chickadee is a quiz-based game and learning tool, designed to teach you the songs and calls of birds. Using location-centric species lists and quizzes, you can study birds from anywhere on the planet.</p>

    <p><br>Chickadee uses avian demographic data from the Cornell Labratory of Ornithology's <a href="http://ebird.org">eBird project</a>, and audio recordings from the <a href="http://xeno-canto.org">Xeno-canto Foundation</a>.

    <p><br><b>Questions, suggestions, or concerns?</b><br><br>Contact <a href="http://jshorty.com">Jake Shorty</a>, the guy who made this stuff <a href="mailto:jakeshorty@gmail.com?Subject='Chickadee'">here</a>.</p>

    <p><br><b>Want to help?</b><br><br>Chickadee is an open-source web project; the source is available on <a href="http://github.com/jshorty/chickadee">GitHub</a>. Feel free to get in touch if you're interested in helping out on the project!<br></p>
  </section>
</section>
