<% if (birds.models.length > 0) { %>
  <% birds.each(function (bird) { %>
    <% commonName = bird.get('common_name') %>
    <li>
      <% "http://en.wikipedia.org/wiki/" + commonName.replace(/ /g,"_") %>
      <a class="bird-link" data-id="<%= bird.id %>" target="_blank">
        <%= commonName %> <em>(<%= bird.get('sci_name') %>)</em>
      </a>
    </li>
  <% }) %>
<% } else { %>
  <li>No birds to display</li>
<% } %>
