<% if (birds.models.length > 0) { %>
  <% birds.each(function (bird) { %>
    <li><%= bird.get('common_name') %> <em>(<%= bird.get('sci_name') %>)</em></li>
  <% }) %>
<% } else { %>
  <li>No birds to display</li>
<% } %>
