<!-- styles: modal.css, greeting_window.css -->

<div class='modal-window modal-tall'>
  <span class='modal-header'>Welcome to Chickadee!</span>
  <p class="modal-message">
    Chickadee allows you learn bird songs by studying species from the regions of your choice.
    This is where we'll keep track of the regions that you're studying.
    Click "New Region" to get started!"
  </p>

  <button class="go-button ok-button">OK</button>
</div>
