<h1 class="logo">chickadee</h1>

<nav>
  <div class='dropdown'></div>
  <ul class='nav-right group'>
  <li><button class="about button">ABOUT</button></li>
  <li><button class="login button button-gray">LOGIN</button></li>
  </ul>
  <a id="nav-toggle" href="#"><span></span></a>
</nav>
