<h1>Chickadee</h1>

<nav>
  <a href="/#regions">Home</a>
  <a href="/#birds">Birds</a>

  <% if (user) { %>
    <a class="current-user"><%= user.name() %></a>
  <% } else { %>
    <a class="current-user">no username</a>
  <% } %>

  <section class="nav-dropdown">
    <a class="logout">Logout</a>
    <a href="/#profile">My Profile</a>
  </section>
</nav>

<hr>
