<h1>Chickadee</h1>

<nav>
  <a href="/#regions">Home</a>
  <a href="/#birds">Birds</a>

  <a><%= if (user) { user %></a>

  <section class="nav-dropdown">
    <a href="/#logout" class="logout">Logout</a>
    <a href="/#profile">My Profile</a>
  </section>
</nav>

<hr>
