<h1>Chickadee</h1>

<nav>
  <a href="/#regions">Home</a>
  <a href="/#birds">Birds</a>

  <% if (user) { %>
    <a class="current-user"><%= user.name() %></a>
    <a class="streak-count"><%= user.escape('streak_count') %></a>
  <% } %>

  <section class="nav-dropdown">
    <a href="#" class="logout">Logout</a>
    <a href="#" class="profile">My Profile</a>
  </section>
</nav>

<hr>
