<div>
  <label for="login-email">Email</label>
  <input type="text" id="login-email" name="user[email]">
</div>
<div>
  <label for="login-password">Password</label>
  <input type="password" id="login-password" name="user[password]">
</div>
<button>GO!</button>
<p class='login-error'>invalid email or password.<p>
