<label for="login-email">Email</label>
<input type="text" id="login-email" name="user[email]">
<label for="login-password">Password</label>
<input type="password" id="login-password" name="user[password]">
<button>GO!</button>
