

  <div class='modal-window'>
    <span class='modal-header'><%= header %></span>

<% if (!useButtons) { %>
  <p class="modal-message">
    <%= message %>
  </p>
<% } else { %>
  <% buttons.forEach(function (button) { %>
    <button class="<%= button.class %>"><%= button.text %></button>
  <% }) %>
<% } %>

  <% if (isConfirm) { %>
    <br>
    <br>
    <button class="confirm-true button button-green">OK</button>
    <button class="confirm-false button button-orange">Cancel</button>
  <% } else if (!useButtons) { %>
    <button class="button button-green ok-button">OK</button>
  <% } %>

</div>
