<h3 id="no-birds-msg">You don't have any birds yet!</h3>
<h4 id="no-birds-msg">Start following some regions from your home page to populate this list.</h4>
<br>
<button class="button button-orange back-button centered-block">HOME</button></a>
