<h1>You don't have any birds yet!</h1>
<h2 id="no-birds-msg">Start following some regions from your home page to populate this list.</h2>
<a id="no-birds-link" href="#regions"><button class="back-button">Back</button></a>
