<h1>Uh Oh!</h1>
<h2 id="no-birds-msg">Unfortunately there haven't been any recent
  bird reports in this region, or less than four species have been reported.
  This means we can't build a quiz for this region. Sorry!
  Chickadee's data access is currently limited to bird reports in the last 30 days.
  Try a nearby region, or a more general one (state or country).</h2>
<a id="no-birds-link" href="#regions"><button class="back-button">Back</button></a>
