<h1></h1>
<h3 id="no-birds-msg">
  We're sorry— there haven't been enough birds reported in this region to build a quiz.
</h3>
<p>
  Chickadee's data is currently limited to eBird reports from the last 30 days.
  Try a nearby region, or a more general one (state or country).
</p>
<button class="button button-orange back-button" style="display:block;margin:20px auto;">BACK</button></a>
