<h1>Birds of <%= region.name() %></h1>

<br>

<section class="quiz-window">
  <h2>
    You scored <%= quiz.escape('score') %>/10
  </h2>

  <section class="answer-choices">
    <ul>
        <li>
          <a class="quiz-again">Practice again</a>
          <a href="#regions">Home</a>
        </li>
    </ul>
  </section>
</section>
