<h3><strong><%= region.name() %> &nbsp;<span class="quiz-level">Lv. <%= quiz.escape('level') %></span></strong></h3>

<section class="quiz-window">
  <h4 class="result-header">
    You got <%= quiz.escape('score') %>/10 correct!
  </h4>

  <% var score = parseInt(quiz.escape('score')) %>

  <% if (score === 10) {%>
    <p class="encouragement">Wow, looks like you know your stuff.</p>
  <% } else if (score >= 7) { %>
    <p class="encouragement">Good job, but there's more to learn!</p>
  <% } else if (score >= 3){ %>
    <p class="encouragement">Keep practicing and you'll develop a keen ear.</p>
  <% } else { %>
    <p class="encouragement">Uh oh! The birds are laughing at you! Prove them wrong and try again!</p>
  <% } %>

  <h4 class="encouragement">XP this week:</h2>

  <section id="xp-chart">
  </section>

  <section class="quiz-result-choices">
    <button class="button button-orange back-button" href="#regions">HOME</button>
    <button class="button button-green quiz-again">CONTINUE</button>
  </section>

  <style>
    path {
        stroke: #0099cc;
        stroke-width: 8;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
  </style>

</section>
