<h1>Your Regions</h1>
<p>These are the regions you're currently studying!</p>

<article class="hints" id="hints-home1"><p>
  Welcome! Looks like it's your first time.
</p></article>

<article class="hints" id="hints-home2"><p>
  Chickadee lets you learn bird songs by studying particular regions.
</p></article>

<article class="hints" id="hints-home3"><p>
  You add new regions from here, or get started right away with one
  you've already added.
</p></article>

<ul class="region-menu group">
  <li class="region-item">
    <a class="new-region-link">
      <img class="region-img" src="../region-new.gif">
      New Region
    </a>
  </li>
</ul>
