<h1>Your Regions</h1>
<p>These are the regions you're currently studying!</p>


<ul class="region-menu group">
  <li class="region-item">
    <a class="new-region-link">
      <img class="region-img" src="../region-new.gif">
      New Region
    </a>
  </li>
</ul>
