<div class="regions-index-header">
  <h1>Study Areas</h1>
  <p>These are the regions you're currently studying.</p>
  <small class="view-toggle">Show List View</small>
</div>

<ul class="region-menu region-menu-buttons">
  <li class="region-item">
    <a class="new-region-link">
      <img class="region-img" src="../region-new.gif">
      New Region
    </a>
  </li>
</ul>

<ul class="region-menu region-menu-list">
  <li class="region-item new">
    <p class="new-region-link"><strong>Add New Region</strong></p>
  </li>
</ul>
