<h1>Your Regions</h1>
<p>These are the regions you're currently studying!</p>

<article class="hints" id="hints-home1"><p>
  Welcome! This is where we'll keep track of the regions you're studying.
</p></article>

<article class="hints" id="hints-home2"><p>
  Chickadee lets you learn bird songs by studying particular regions.
</p></article>

<article class="hints" id="hints-home3"><p>
  You can start learning with a region from the menu, or add a new one!
</p></article>

<ul class="region-menu group">
  <li class="region-item">
    <a class="new-region-link">
      <img class="region-img" src="../region-new.gif">
      New Region
    </a>
  </li>
</ul>
