<h1>Your Study Lists</h1>
<small>These are the regions you're currently studying.</small>
<small class="view-toggle">Show List View</small>

<ul class="region-menu region-menu-buttons">
  <li class="region-item">
    <a class="new-region-link">
      <img class="region-img" src="../region-new.gif">
      New Region
    </a>
  </li>
</ul>

<ul class="region-menu region-menu-list">
  <li class="region-item">
    <p class="new-region-link"><strong>New Region</strong></p>
  </li>
</ul>
