<% var imgNum = Math.floor(Math.random() * 3).toString() %>

<div class="region-level">LV <%= region.escape('level') %></div>

<img id="crazy-border" class="region-img" src="../region-button-<%=imgNum%>.jpg">
<%= region.name() %>
