<h2>
  <%= region.name() %>
</h2>

<section class="region-sidepanel">
  <% regions.each(function (regionModel) { %>

    <% if (regionModel.name() === region.name()) { %>
      <button class="selected region-button" data-id="<%= regionModel.id %>">
    <% } else { %>
      <button class="region-button" data-id="<%= regionModel.id %>">
    <% } %>
      <%= regionModel.name() %>
    </button>

  <% }) %>
</section>

<section class="bird-list"></section>
