<h1>Add a new study region</h1>
<p>We'll go find out what bird species have been seen there!</p>
<br>
<fieldset>
<label for="new-region-country"><strong>Country</strong></label>
<input type="text"
       name="region[country]"
       id="new-region-country"
       value='<%= region.get('country') %>'>

<label for="new-region-state">State</label>
<input type="text"
       name="region[state]"
       id="new-region-state"
       value='<%= region.get('state') %>'>

<label for="new-region-county">County/Subregion</label>
<input type="text"
       name="region[county]"
       id="new-region-county"
       value='<% region.get('county') %>'>
</fieldset>
<div class="spinner-box"></div>
<button class="button button-orange back-button">BACK</button>
<button class="button button-green go-button">ADD REGION</button>
