<% var imgNum = Math.floor(Math.random() * 3).toString() %>

<div class="region-level">LV <%= region.escape('level') %></div>

<img class="region-img" src="<%=region.get('image')%>">
<img class="delete-region" src="delete.png"></img>
<p><%= region.name() %> <small class="region-level-list">(LV <%= region.escape('level') %>)</small></p>
