<section>
  <form>
  <h1>Sign up</h1>
  <br>
  <label for="user_email">Email</label>
  <input type="text" name="user[email]" id="user_email">

  <label for="user_password">Password (8+ characters)</label>
  <input type="password" name="user[password]" id="user_password">

  </form>
  <div>
    <button id="welcome-back" class="back-button">Back</button>
    <button id="welcome-go" class="go-button">Create account</button>
  </div>
  <img class="tree-footer" src="../tree-footer.png">
</section>
