<div class='modal-window login-window'>
  <span class='login-message'>SIGN UP!</span>

  <form>
    <label for="user_email">Email</label>
    <input type="text" name="user[email]" id="user_email">

    <label for="user_password">Password (8+ characters)</label>
    <input type="password" name="user[password]" id="user_password">

    <button class="go-button">GET STARTED</button>

    <span class="login-error"></span>
  </form>
</div>
