<div class='modal-window login-window'>
  <span class='login-message'>SIGN UP!</span>

  <form>
    <div class="login-error-box">
      <span class="login-error"></span>
    </div class="login-error-box">

    <label for="user_email">Email</label>
    <input type="text" name="user[email]" id="user_email">

    <label for="user_password">Password <small>(8+ characters)</small></label>
    <input type="password" name="user[password]" id="user_password">
    <input type="password" name="user[confirm_password]" id="confirm_password">

    <button class="button button-green get-started-button">GET STARTED</button>

    <div class="facebook-sign-in">
      <span class="facebook-text">or sign in with&nbsp;&nbsp;</span>
      <a href="/auth/facebook">
        <img class="facebook-icon" src="facebook.png">
      </a>
    </div>
  </form>
</div>
