<form>
<h1>Sign up</h1>

<label for="user_name">Name (optional)</label>
<input type="text" name="user[alias]" id="user_name">

<br>

<label for="user_email">Email</label>
<input type="text" name="user[email]" id="user_email">

<br>

<label for="user_password">Password (8+ characters)</label>
<input type="password" name="user[password]" id="user_password">

<br>

<button>Create account</button>
</form>
