<img class="user-image" src="<%= user.get('image_url') %>"

<h1><%= user.get('alias') %></h1>

<p>Name: <%= user.get('alias') %></p>

<br>

<p>Email: <%= user.get('email') %></p>

<br>

<button class="edit-user-profile">Edit</button>
