<form enctype="multipart/form-data">

<img class="user-image" src="<%= user.get('image_url_medium') %>"
<h1><%= user.name() %></h1>

<label for="user-image-input">Profile Image (optional)</label>
<input type="file" name="user[image]" id="user-image-input">

<br>

<label for="user_name">Username (optional)</label>
<input type="text" name="user[alias]" id="user_name" value="<%= user.get('alias') %>">

<br>

<label for="user_email">Email</label>
<input type="text" name="user[email]" id="user_email" value="<%= user.get('email') %>">

<br>

<label for="user_password">Password (8+ characters)</label>
<input type="password" name="user[password]" id="user_password">

<br>

<button "update-user-profile">Update</button>
</form>
