<h1><%= user.name() %></h1>

<img class="user-image" src="<%= user.get('image_url_medium') %>">

<h2><strong>Username:</strong> <%= user.escape('alias') %></h2>
<h2><strong>Email:</strong> <%= user.escape('email') %></h2>

<button class="go-button edit-user-profile">Edit</button>
