<meta name="viewport" content="width=device-width">

<section class="welcome-background">

  <section class="welcome-message">
    <h1 class="welcome-headline">Know what you hear in nature.</h1>
    <img alt="singing rufous-collared sparrow" class="sparrow-icon" src="sparrow_icon.png">
    <h3 class="welcome-tagline">Chickadee helps you learn to identify birds by their songs and sounds, be it the species in your own backyard or those across the planet.</h3>
  </section>

  <section class="welcome-page group">
    <div id="song-sampler" class="song-sampler group">
      <img class="music-note" src="music_note.png">
      <div class="sampler-bird-name"><%= songInfo.bird %></div>
      <audio controls="true" src="<%= songInfo.url %>">
        Your browser does not support the audio player element
        (try Chrome or Safari)
      </audio>
      <div class="sampler-audio-info">
        Recorded by <%= songInfo.author %>. Info and
        license available
        <a href="<%= songInfo.info %>">
          here
        </a>.
      </div>
    </div>

    <div class="welcome-buttons group">
      <button class="demo button button-green">TRY IT OUT</button>
      <button class="sign-up button button-green">SIGN UP</button>
    </div>
  </section>
</section>
