
<h1 id="welcome-message">Know what you hear in nature.</h1>
<h3 id="welcome-tagline">Chickadee helps you learn to identify birds by their songs and sounds, be it the species in your own backyard or across the planet.</h3>





<a class="facebook-sign-in" href="/auth/facebook"><img class="facebook-icon" src="../facebook.png"></a>
<h2>or sign in with</h2>
<button class="demo go-button">Demo!</button>
<button class="sign-up go-button">Sign Up</button>

<img class="moon" src="../moon.png">
<img class="tree-footer" src="../tree-footer.png">
