<meta name="viewport" content="width=device-width">

<section class="welcome-background">

  <section class="welcome-message">
    <h1 class="welcome-headline">Know what you hear in nature.</h1>
    <img alt="singing rufous-collared sparrow" class="sparrow-icon" src="sparrow_icon.png">
    <h3 class="welcome-tagline">Chickadee helps you learn to identify birds by their songs and sounds, be it the species in your own backyard or across the planet.</h3>
  </section>

  <section class="welcome-page group">
    <button class="demo go-button">Try it out!</button>
    <button class="sign-up go-button">Sign Up</button>
    <span>or sign in with:</span>
    <div class="facebook-sign-in">
      <a href="/auth/facebook">
        <img class="facebook-icon" src="facebook.png">
      </a>
    </div>
  </section>
</section>
