
<h1 id="welcome-message">Know what you hear in nature.</h1>
<h3 id="welcome-tagline">Chickadee helps you learn to identify birds by their songs and sounds, be it the species in your own backyard or across the planet.</h3>
<button class="sign-up go-button">Sign Up</button>

<img class="tree-footer" src="../tree-footer.png">
